/* Estilo general para el cuerpo y el html */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%); /* Fondo degradado */
    display: flex;
    flex-direction: column; /* Dispone los elementos en una columna vertical */
  }
  
  /* Contenido principal que toma todo el espacio disponible */
  main {
    flex: 1; /* Permite que el main crezca y ocupe todo el espacio disponible */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 20px;
  }
  
  /* Contenedor del formulario */
  main > div {
    background-color: #fff; /* Fondo blanco para el formulario */
    padding: 30px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
    max-width: 400px; /* Ancho máximo del formulario */
    width: 100%; /* El formulario ocupa todo el ancho disponible */
    text-align: center; /* Centra el texto dentro del contenedor */
  }
  
  h1 {
    font-size: 28px;
    color: #333; /* Color de texto oscuro */
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    grid-gap: 20px; /* Espacio entre los campos del formulario */
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
    transition: border-color 0.3s ease; /* Transición suave para el borde */
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #007bff; /* Color del borde al enfocar */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
  }
  
  input[type="submit"] {
    background-color: #ff5722; /* Color de fondo anaranjado */
    color: #fff; /* Color de texto blanco */
    padding: 15px;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 18px;
    cursor: pointer; /* Cursor cambia a puntero */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
  
  input[type="submit"]:hover {
    background-color: #e64a19; /* Color de fondo más oscuro al pasar el mouse */
  }
  
  /* Estilo para el footer */
  footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    flex-shrink: 0; /* Evita que el footer se encoja */
  }
  